<!-- Since this is the homepage,the meta tag information for this page is set as the default values. -->

<div class="container">
  <div class="row">
    <div class="col-lg-9">

      <div id='front-gallery'>
        <%= render partial: 'thumbnail', collection: @cases, as: :this_case %>
      </div>
    </div>
  </div>
</div>
